.article-container {
  row-gap: 50px;
}
.article-container > iframe {
  flex-basis: 50vh;
  width: 45vw;
}
.article__text {
  box-sizing: border-box;
  align-items: flex-start;
  width: 100%;
  row-gap: 40px;
  padding: 0 10vw;
  font-size: 22px;
}
.article__paragraph {
  margin: 0;
}
