:root {
  --color-alert: hsl(8, 72%, 72%);
  /* --color-background: hsl(191, 55%, 53%); */
  --color-background: hsl(333, 21%, 92%);
  --color-border: hsl(185, 37%, 55%);
  --color-border2: hsl(15, 61%, 51%);
  --color-hover: hsl(185, 16%, 67%);
  /* --color-header: hsl(30, 55%, 89%); */
  --color-header: hsl(195, 37%, 40%);
  /* --color-item: hsl(201, 14%, 42%); */
  --color-item: hsl(52, 67%, 89%);
  --color-item2: hsl(90, 17%, 81%);
  --color-item3: hsl(172, 25%, 55%);
  --color-text: hsl(103, 5%, 38%);
  --color-text2: hsl(103, 5%, 74%);
  --color-text3: hsl(195, 37%, 40%);
  /* --color-shade: hsl(220, 40%, 20%); */
  --color-shade: hsl(195, 56%, 10%);

  /* --buff: hsl(48, 81%, 75%); */
  /* --gold-crayola: hsl(37, 76%, 74%); */
  --font-header: Ginto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-text: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
:where(body) {
  background-color: var(--color-background);
}
#content {
  min-height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#new-body {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  flex-grow: 5;
  flex-basis: 0;
  padding: 0;
  font-family: var(--font-text);
  color: var(--color-text);
  font-size: 18px;
  font-weight: 400;
  order: 20;
}

.hidden {
  display: none;
}
:where(.flex-row, .flex-col) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
:where(.link) {
  font-family: var(--font-text);
  color: var(--color-header);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s;
}
.link:hover {
  color: var(--color-hover);
}
:where(.title) {
  font-family: var(--font-header);
  color: var(--color-text);
  font-size: 40px;
  font-weight: 600;
}
:where(.alert-bar) {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--color-alert);
  padding: 8px;
  text-align: center;
  z-index: 100;
}
.img-container {
  text-align: center;
  display: inline-flex;
}
.img-crop {
  width: 100%;
  height: 100%;
  overflow: clip;
  display: inline-flex;
}
.center {
  text-align: center;
  width: 100%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.caption {
  text-align: center;
  margin: 0;
  padding: 10px 0 0 0;
  font-family: var(--font-text);
  color: var(--color-text2);
  font-size: 12px;
}
.img-body {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.crop__width--center,
.crop__height--center {
  align-items: center;
}
.crop__width--start,
.crop__height--start {
  align-items: flex-start;
}
.crop__width--enc,
.crop__height--end {
  align-items: flex-end;
}
.footer {
  align-self: flex-end;
  flex-grow: 1;
  order: 30;
  width: 100%;
  background-color: var(--color-border);
  align-items: flex-start;
  z-index: 100;
}
.header {
  position: absolute;
  /* background-color: var(--color-header); */
  background-color: transparent;
  align-self: flex-start;
  order: 10;
  width: 100%;
  height: 160px;
  padding: 8px;
  box-sizing: border-box;
  z-index: 100;
}
.header-spacer {
  height: 180px;
  width: 0px;
}
:where(.article-container) {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 0 20% 0 20%;
  flex-grow: 1;
  overflow-x: visible;
  padding-bottom: 48px;
}
:where(.article-title) {
  text-align: left;
  margin: 0;
  padding: 0 30vw 50px 20vw;
  color: var(--color-text3);
  font-size: 80px;
  line-height: 100px;
  font-weight: 800;
}
@media (max-width: 1200px) {
  :where(.article-container) {
    padding: 0 10vw 50px 5vw;
  }
}
